<app-header></app-header>
<div class="div3">
    <h1 style="color:indianred;padding-top:280px;-webkit-text-stroke: 1px black;font-size: 50px;margin-left: 500px;">About Us</h1>
  </div><br><br>
  
  <div style="display: inline-block;">
    
    <p style="margin-left:30px;text-align:justify-all;font-size: 20px;display: inline-block;float: right;">“Todoist” is an online todo list making website. In this user<br> can write their everyday work and save them for future uses<br> and they can also make checklist to tick mark the work which<br> has been completed.
  User can also set timers for some task . <br>if any user have written a task to complete at 5 pm then <br>system will notify the user that you have work to complete. </p>
  <img src="../../assets/images/todo1.jpg" style="display: inline-block;" height="200">
  </div>
  
  <div style="display: inline-block;">
    
    <p style="text-align:justify-all;font-size: 20px;display: inline-block;float: right;">Whenever we have lot many things to do in a day we always ended up<br> forgetting  so many tasks.using our website your work become very easy<br> you just have to write down all the task you are supposed to do in a day<br> and you are good to go. This way you can easily complete your work<br> without forgetting anything and also you can cancel out the task which <br>are completed.</p>
  <img src="../../assets/images/todo2.jpg" style="display: inline-block;margin-left: 600px;" height="200">
  </div><br><br>
  
  <div style="display: inline-block;">
    
    <p style="margin-left: 30px;text-align:justify;font-size: 20px;display: inline-block;float: right;">One of the most important reasons you should use<br> a to do list is that it will help you stay organised. <br>When you write all your tasks in a list, they seem <br>more manageable. When you've got a clear outline <br>of the tasks you've got to do and those you've<br> completed, it helps you stay focused.</p>
  <img src="../../assets/images/todo3.jpg"  style="display: inline-block;" height="200">
  </div><br><br>
<app-footer></app-footer>