<div class="div2"><br>
  
    <footer class="section footer-corporate context-dark">
          <div class="footer-corporate-inset">
            <div class="container">
              <div class="row row-40 justify-content-lg-between">
                <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4">
                  <div class="oh-desktop">
                    <div class="wow slideInRight" data-wow-delay="0s">
                      <h6 class="text-spacing-100 text-uppercase">Contact us</h6>
                      <ul class="footer-contacts d-inline-block d-sm-block" style="list-style-type:none;">
                        <li>
                          <div class="unit">
                            <div class="unit-left"><span class="icon fa fa-phone"></span><!--</div>
                            <div class="unit-body">--><a class="link-phone" href="tel:#" style="color:black;margin-left: 10px;">+91 9876543210</a></div>
                          </div>
                        </li>
                        <li>
                          <div class="unit">
                            <div class="unit-left"><span class="icon fa fa-envelope"></span><!--</div>
                            <div class="unit-body">--><a class="link-aemail" href="mailto:#" style="color:black;margin-left: 10px;">info@bucketlist.org </a></div>
                          </div>
                        </li>
                        <li>
                          <div class="unit">
                            <div class="unit-left"><span class="icon fa fa-location-arrow"></span><!--</div>
                            <div class="unit-body">--><a class="link-location" href="#" style="color:black;margin-left: 10px;">1234 Main Road,<br>Mumbai 400001</a></div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 col-xl-4">
                  <div class="oh-desktop">
                    <div class="wow slideInDown" data-wow-delay="0s">
                    </div>
                  </div>
                </div>
                <div class="col-sm-11 col-md-7 col-lg-5 col-xl-4">
                  <div class="oh-desktop">
                    <div class="wow slideInLeft" data-wow-delay="0s">
                      <h6 class="text-spacing-100 text-uppercase">Quick links</h6>
                      <ul class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2" style="list-style-type: none;">
                        <li><a routerLink="/about" rounterLinkActive="active" style="color:black;">About us</a></li>
                        <li><a routerLink="/contact" rounterLinkActive="active" style="color:black;">Contact us</a></li>
                        <li><a routerLink="/" rounterLinkActive="active" style="color:black;">Home</a></li>
                      </ul><br><br>
                      <a href="#" class="fa fa-facebook" style="color:black; margin-left: 10px;"></a>
                      <a href="#" class="fa fa-google" style="color:black;margin-left: 10px;"></a>
                      <a href="#" class="fa fa-instagram" style="color:black;margin-left: 10px;"></a>
                      <a href="#" class="fa fa-twitter" style="color:black;margin-left: 10px;"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-corporate-bottom-panel">
            <div class="container">
              <div class="row justfy-content-xl-space-berween row-10 align-items-md-center2">
                <div class="col-sm-6 col-md-4 text-sm-right text-md-center">
                  <div>
                  </div>
                </div>             
              </div>
            </div>
          </div>
        </footer>
      </div>