<app-header></app-header>
<div style="width:1500px;">
    <div id="div1">
      <input type="text" disabled class="p2" size="25" value="Organize It All With Todoist"/><br>
      <a routerLink="/todoist" routerLinkActive="active"><button class="btn1">Get Started</button></a>
    </div>
      <div class="row">
         <div class="column">
        <p class="p3" style="position: relative;">Todoist is Project <br>Management<br> tool that gives you complete<br> control over<br> your work</p>
      </div>
      <div class="column">
        <img src="../assets/images/card1.jpg"  class="card">
      </div>
      <div class="column">
        <img src="../assets/images/card2.jpg"  class="card">
      </div>
      <div class="column">
        <img src="../assets/images/card3.jpg"  class="card">
      </div>
    </div>
</div>
    <br><br><br><br><br>
<app-footer></app-footer>