<app-header></app-header>
<img src="../../assets/images/contactbg.jpg" width="1518" height="600" style="border: 2px solid indianred;">

<div class="div1">
  <div class="vl"></div>
  <i class="fa fa-map-marker p1" style="font-size:30px;position:absolute;top:800px;"></i><br>
  <h3 class="p1" style="position:absolute;top:840px;">Address</h3><br><br>
  <p class="p1" style="position:absolute;top:890px;">College Road,Chalali</p><br>
  <p class="p1" style="position:absolute;top:910px;">Nadiad</p><br>

  <i class="fa fa-phone p1" style="font-size:30px;position:absolute;top:950px;"></i>
  <h3 class="p1" style="position:absolute;top:980px;">Phone</h3>
  <p class="p1" style="position:absolute;top:1030px;">+0098 9893 5647</p><br>

  <i class="fa fa-envelope p1" style="font-size:30px;position:absolute;top:1080px;"></i>
  <h3 class="p1" style="position:absolute;top:1110px;">Email</h3>
  <p class="p1" style="position:absolute;top:1160px;">20ceuod003@ddu.ac.in</p><br>
</div>
  
  <div style="position:absolute;top:800px;margin-left: 150px;">
    <h3 style="margin-left: 550px;">Send us a message</h3><br>
    <form>
    <input type="text" placeholder="Enter Your name" style="margin-left: 550px;">
    <br><br>
    <input type="text" placeholder="Enter Your email" style="margin-left: 550px;"><br><br>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px;margin-left: 550px;"></textarea><br><br>
    <a routerLink="/" routerLinkActive="active"><input type="submit" value="Send Now" style="margin-left: 550px;"></a>
    </form>
  </div><br>
<app-footer></app-footer>